<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Budget App
    <ul>
        <li> total_money: {{ total_money }}</li>
        <li> rent: {{ rent }}</li>
        <li> groceries: {{ groceries }}</li>
        <li> transportation: {{ transportation }}</li>
        <li> utilities: {{ utilities }}</li>
        <li> entertainment: {{ entertainment }}</li>
    </ul>

</body>
</html>